$red: red;
$imgBackground: aquamarine;

body{
    background-color:url('back.png');
}
#main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
  }
  #mainbox{
    height:800px;
    width: 600px;
    background-color: $red;
    border-top-left-radius:35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius:35px; 
    
  }
  
  #nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
  
  }
  #big-dot{
    
    border-radius: 50%;
    background-color: aqua;
    height: 60px;
    width: 60px;
    animation-duration: 2s;
  }
  
  .dot{
    
    background-color:pink;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    animation-delay: 300ms;
    animation-duration: 3s;
  }
  
  .dot.two{
    background-color: orange;
    animation-delay: 600ms
  }
  .dot.three{
    background-color: greenyellow;
    animation-delay: 1s;
  }
  
  #mainImg{
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    width: 450px;
    height: 300px;
    margin-left: 60px;
    margin-top: 10px;
    background-color:$imgBackground;
    border-radius: 10px;
    border-bottom-left-radius: 70px 90px; 
  }
  
  img{
    width: 290px;
    height: 300px;
  }
  /* div called btn so I could make them display flex */
  #btn{
    display: flex;
  }
  
  #btnBlack{
    border-radius: 50%;
    background-color: black;
    height: 40px;
    width: 40px;
     margin-left: 50px;
     margin-top: 10px;
  }
  
  #btnYellow{
  background-color: yellow;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  margin-left: 40px;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  color: black;
  }
  
  #btnPink{
   background-color: pink;
   width: 120px;
   height: 30px;
   border-radius: 20px;
   margin-left: 80px;
   font-size: 20px;
   text-align: center;
   margin-top: 10px;
   color:black;
  }
  
  /* right box */
  #secondbox{
      height: 800px;
    width: 600px;
    background-color:$red;
    border-top-left-radius:35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
   
  }
  
  #secondImg{
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    width: 450px;
    height: 300px;
    margin-left: 70px;
    margin-top: 110px;
    background-color:$imgBackground;
    border-radius: 10px;
    border-bottom-right-radius: 70px 90px; 
  }

  #modalDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .moving{
    animation: ballMoving 3s infinite;
  }
  @keyframes ballMoving{
    0%{
      transform: rotate(0deg)
    }
   
    100%{
      transform: rotate(360deg)
    }
  }
